if SHIELD_CRADIO_CENTRAL_DONGLE || SHIELD_CRADIO_CENTRAL_LEFT

config ZMK_KEYBOARD_NAME
    default "Cradio"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CRADIO_CENTRAL_DONGLE || SHIELD_CRADIO_CENTRAL_LEFT || SHIELD_CRADIO_PERIPHERAL_LEFT || SHIELD_CRADIO_PERIPHERAL_RIGHT

config ZMK_SPLIT
    default y

endif